<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.cookpad.android.restfit"
        >

    <uses-permission android:name="android.permission.INTERNET" />

    <application tools:ignore="AllowBackup" />
</manifest>
